{% extends 'base.html' %}
{% block content %}
{% comment %} {{data1}} {% endcomment %}
{% comment %} {{data2}} {% endcomment %}
<button type="button" class="btn btn-dark"><a href="{% url 'addtousercart' %}? name={{data1.name}}? email={{data1.email}}? password={{data1.password}}">add-to-user-cart</a></button>
{% if add %}
<form action="{% url 'cartdata' %}" method="POST">
    {% csrf_token %}
    <label for="imageUpload">Image</label>
    <input type="file" id="imageUpload" name="image" accept="image/">
    <br>
    <label>Product_name</label>
    <input type="text"name="product_name">
    <br>
    <label>product_price</label>
    <input type="number" name="product_price">
    <br>
    {% comment %} <label>product_quantity</label>
    <input type="number"name="product_quantity"> {% endcomment %}
    <br>
    <input type="submit">

</form>
{% endif %}
<br>
<br>



<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
      <th scope="col">Desc</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data2 %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.your_name}}</td>
      <td>{{i.email_address}}</td>
      <td>{{i.age}}</td>
      <th scope="col">{{i.job_description}}</th>
      <th scope="col"><a href="{% url 'update' pk=i.id %}">update</a></th>
      <th scope="col"><a href="{% url 'delete' pk=i.id %}">delete</a></th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}