{% extends 'base.html' %}
{% block content %}
<form action="{% url 'logindata' %}" method="post">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<br>
<br>
<br>
<footer class="bg-dark text-white pt-4">
    <div class="container text-center text-md-start">
      <div class="row">

        <!-- Column 1 -->
        <div class="col-md-3 mb-3">
          <h5 class="text-uppercase">Company</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">About Us</a></li>
            <li><a href="#" class="text-white text-decoration-none">Careers</a></li>
            <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
          </ul>
        </div>

        <!-- Column 2 -->
        <div class="col-md-3 mb-3">
          <h5 class="text-uppercase">Resources</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Blog</a></li>
            <li><a href="#" class="text-white text-decoration-none">Help Center</a></li>
            <li><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
          </ul>
        </div>

        <!-- Column 3: Social Icons -->
        <div class="col-md-6 mb-3 text-md-end">
          <h5 class="text-uppercase">Follow Us</h5>
          <a href="#" class="text-white me-3">
            <i class="bi bi-facebook"></i> Facebook
          </a>
          <a href="#" class="text-white me-3">
            <i class="bi bi-twitter"></i> Twitter
          </a>
          <a href="#" class="text-white">
            <i class="bi bi-instagram"></i> Instagram
          </a>
        </div>
      </div>
    </div>

    <div class="text-center py-3 bg-secondary">
      © 2025 Your Company Name
    </div>
  </footer>
{% endblock %}